# OS junk
.DS_Store
Thumbs.db

# Editor settings
.vscode/
.idea/

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# R
.Rhistory
.RData
.Rproj.user/



# Temporary outputs and logs
*.tmp
*.temp
*.log
*.out
*.bak
*.swp
